h1{
	font-size: 50px;
	font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	color: palevioletred;
}

.p1{
	font-size: 20px;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* spacing */

table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: 3px solid purple;
}


th, td {
   width: 25%;
   text-align: left;
   vertical-align: top;
   border: 1px solid #000;
   border-spacing: 0;
   font-size: 20px;
}

.encabTabla{
	border-collapse: collapse;
    border: 3px solid purple;
}